In [131]:
import pandas as pd
import numpy as np

In [132]:
file_to_load = "Resources/purchase_data.csv"

In [133]:
purchase_data = pd.read_csv(file_to_load)

In [134]:
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [135]:
print(purchase_data.columns)

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [162]:
#No. of rows 
count_row = purchase_data.shape[0]
count_row

780

In [137]:
## Player count 

#1.Total Players

In [138]:
total_players = len(purchase_data["SN"].value_counts())

player_count = pd.DataFrame({"Total Players":[total_players]})
(player_count)

   Total Players
0            576

In [139]:
## Purchasing Analysis (Total)

#1.No. of unique items
#2.Average Price
#3.Number of purchases
#4.Total Revenue

In [154]:
no_of_unique_items =len ((purchase_data['Item ID']).unique())
#(no_of_unique_items)

In [155]:
average_price = ((purchase_data['Price']).mean())
#(average_price)

In [156]:
number_of_purchases = len(purchase_data["Purchase ID"].value_counts())
#(number_of_purchases)

In [157]:
total_revenue = (purchase_data["Price"]).sum()
#(total_revenue)

In [182]:
summary_df = pd.DataFrame({"No. of Unique Items":[no_of_unique_items], 
                           "Average Price":[average_price], 
                           "No. of Purchases":[number_of_purchases], 
                           "Total Revenue":[total_revenue]})
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})
(summary_df)

   No. of Unique Items  Average Price  No. of Purchases  Total Revenue
0                  179       3.050987               780        2379.77

In [ ]:
## Gender Demographics 

#1.Percentage and count of Male players 
#2.Percentage and count of Female players 
#3.Percentage and count of Other/Non-Disclosed

In [174]:
gender_stats = purchase_data.groupby("Gender")

In [166]:
total_gender_count = gender_stats.nunique()["SN"]

In [167]:
percentage_of_players = total_gender_count / total_players * 100

In [181]:
gender_demo = pd.DataFrame({"Percentage of Players": percentage_of_players, 
                            "Total Count": total_gender_count})
gender_demo.index.name = None
gender_demo.sort_values(["Total Count"], ascending= False).style.format({"Percentage of Players":"{:.2f}"})

In [ ]:
## Purchasing Analysis 

#(Gender)

#1.Purchase Count
#2.Average Purchase Price
#3.Total Purchase Value
#4.Average Purchase Total per Person by Gender

In [176]:
purchase_count = gender_stats["Purchase ID"].count()

In [177]:
avg_purchase_price = gender_stats["Price"].mean()

In [178]:
avg_purchase_total = gender_stats["Price"].sum()

In [180]:
avg_purchase_per_person = avg_purchase_total/total_gender_count

In [185]:
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})
gender_demographics.index.name = "Gender"
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [ ]:
## Age Demographics 

#Broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#1.Percentage of Players
#2.Total Count

In [294]:
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [301]:
#purchase_data["Age"].unique()

In [296]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
#purchase_data

In [297]:
age_grouped = purchase_data.groupby("Age Group")

In [298]:
total_count_age = age_grouped["SN"].nunique()

In [299]:
percentage_by_age = (total_count_age/total_players) * 100

In [300]:
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, 
                                 "Total Count": total_count_age})
age_demographics.index.name = None
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

In [259]:
## Purchasing Anlaysis (Age)

#Broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#1.Purchase Count
#2.Average Purchase Price
#3.Total Purchase Value
#4.Average Purchase Total per Person by Age Group

In [235]:
purchase_count_age = age_grouped["Purchase ID"].count()

In [236]:
avg_purchase_price_age = age_grouped["Price"].mean()

In [237]:
total_purchase_value = age_grouped["Price"].sum()

In [238]:
avg_purchase_per_person_age = total_purchase_value/total_count_age

In [240]:
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})
age_demographics.index.name = None
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [260]:
## Top Spenders 

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN(screen name)

#1.Purchase Count
#2.Average Purchase Price
#3.Total Purchase Value

In [261]:
spender_stats = purchase_data.groupby("SN")

In [263]:
purchase_count_spender = spender_stats["Purchase ID"].count()

In [264]:
avg_purchase_price_spender = spender_stats["Price"].mean()

In [265]:
purchase_total_spender = spender_stats["Price"].sum()

In [266]:
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [ ]:
## Most Popular Items 
#Top 5 most popular items by purchase count:

#Item ID
#Item Name

#1.Purchase Count
#2.Item Price
#3.Total Purchase Value

In [280]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

In [281]:
item_stats = items.groupby(["Item ID","Item Name"])

In [282]:
purchase_item_count= item_stats["Price"].count()

In [283]:
purchase_value = (item_stats["Price"].sum())

In [286]:
item_price = purchase_value/purchase_item_count

In [289]:
most_popular_items = pd.DataFrame({"Purchase Count": purchase_item_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [290]:
## Most Profitable Items 
#Top 5 most profitable items by total purchase value:

#Item ID
#Item Name
#1.Purchase Count
#2.Item Price
#3.Total Purchase Value

In [292]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})